<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="row">


    		<div class="col-md-3">

    		</div>

        <div class="col-md-6">
            <nav class="navbar navbar-default" role="navigation">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
               </button> <a class="navbar-brand" href="#">Brand</a>
             </div>

             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li class="active">
                   <a @click="logout">Logout</a>
                 </li>
               </ul>

             </div>

           </nav>
            <div class="container">
             <form id="form-tweet">
              <h3>Tweet Something</h3>
              <fieldset>
                <textarea v-model="text" placeholder="Type your tweet here...." tabindex="5"></textarea>
              </fieldset>
              <fieldset>
                <button name="submit" type="button" id="form-tweet-submit" @click="postTwitter">Post</button>
              </fieldset>
            </br>
              <h3>Delete Tweet by Id</h3>
              <fieldset>
                <input type="text" v-model="idtweet"  placeHolder="type your id tweet" value="">
              </fieldset>
              <fieldset>
                <button name="submit" type="button" id="form-tweet-submit" @click="deleteTwitter">Delete Tweet</button>
              </fieldset>
             </form>

           </div>



    		</div>


    		<div class="col-md-3">

    		</div>
    	</div>

    </div>
  </body>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        text:'',
        idtweet:''
      },
      methods:{
        logout() {
          window.localStorage.removeItem('token')
          window.location.href = "/"
        },
        postTwitter(){
          let self = this
          console.log('test', localStorage.getItem('token'));
          axios.post('http://localhost:3000/api/users/twitter', {kata:this.text}, { headers: {'token':localStorage.getItem('token')}})
          .then((response)=>{
            // console.log('HASILNYA RESPONSE',response);
            self.idtweet = response.data.id_str
          })
          .catch((err)=>{
            console.log(err);
          })
        },
        deleteTwitter(){
          let self = this
          axios.delete(`http://localhost:3000/api/users/twitter/${this.idtweet}`, { headers: {'token':localStorage.getItem('token')}} )
          .then((response)=>{
            // console.log(this.text);
            // console.log(response);
            self.idtweet = ''
          })
          .catch((err)=>{
            console.log(err);
          })
        }

      },
      created: function () {
        if(localStorage.getItem('token') == null){
          window.location.href = "/"
        }
      }
    })
  </script>

</html>
