<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="row">


    		<div class="col-md-4">

    		</div>

        <div class="col-md-4">
        <!-- Centered Pills -->
        <ul class="nav nav-pills nav-justified">
          <li><a href="index.html">Login</a></li>
          <li class="active"><a href="#">Register</a></li>
          <div class="tab-content">
            <div class="tab-pane active" id="panel-486118">
              <p>
                <div class="form-group">

                <label for="exampleInputEmail1">
                  Name
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="name" />
                </div>

                <div class="form-group">

                <label for="exampleInputEmail1">
                  Username
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" v-model="username" />
                </div>

                <div class="form-group">

                  <label for="exampleInputPassword1">
                    Password
                  </label>
                  <input type="password" class="form-control" id="exampleInputPassword1" v-model="password"/>
                </div>

                <button class="btn btn-default" @click="register">
                  Register
                </button>
              </p>
            </div>

          </div>
        </ul>



    		</div>


    		<div class="col-md-4">

    		</div>
    	</div>

    </div>
  </body>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        username:'',
        password:'',
        name:''
      },
      methods:{
        register() {
          let self = this
          axios.post('http://localhost:3000/api/users/signup', {
            username: self.username,
            password: self.password,
            name:self.name
          })
          .then((response) => {
            alert('register mision has been completed')
            window.location.href = "/main.html"
          })
          .catch(err => {
            alert('error register')
            console.log(err);
          })
        }
      },
      created: function () {
        console.log(localStorage);
        if(localStorage.getItem('token') != null){
          window.location.href = "/main.html"
        }
      }
    })
  </script>

</html>
